/************************************

INDEX

01. CSS RESET
02. BASIC STYLE
03. HEADER
04. SLIDER
05. FILTER ( SEARH FORM)
06. ITEM COLLECTION
07. FACTS COUNTER
08. LOCATION
09. LANDMARK
10. REVIEWS
11. APP SERVE
12. FOOTER

************************************/

/******************************************************************
                             CSS RESET
*******************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed,  figure, figcaption, footer, header,  menu, nav, output, ruby, section, summary, time, mark, audio,
video {	margin: 0; 	padding: 0;	border: 0; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }
ol, ul { list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
table {	border-collapse: collapse; border-spacing: 0; }



/*===========================================================================
                                   BASIC STYLE
=============================================================================*/
body{
    background: #f7f7f7;
    color: #727272;
    font: 12px "Open Sans" , Arial, Helvetica, sans-serif;
}
.full-width {
    width:100%;
}
.feature-item {
    padding: 120px 0;
}
.service-container {
    padding: 50px 0;
}
a {
    color: #727272;
    text-decoration: none;
}
a:visited {
    color: #727272;
    text-decoration: none;
}
a:hover {
    color: #FF6D79;
    text-decoration: none;
}
a:focus, a:hover, a:active {
    outline:none;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    color: #212121;
    text-transform:uppercase ;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #212121;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 34px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 16px;
}
p strong {
    font-weight: 600;
}
p em{
    font-style: italic;
}
::-moz-selection{
    background: #f44336;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #f44336;
    color: #fff;
    text-shadow: none;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.left-side {
    float: left;
}
.right-side {
    float: right;
}
.btn {
    padding: 10px 15px;
    text-transform: uppercase;
    font: 600 14px 'Open Sans', Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 0px;
}
.btn:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn:hover {
    padding: 10px 15px;
    text-transform: uppercase;
    font: 600 14px 'Open Sans', Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 0px;
}
.btn:focus {
    outline: none;
}
.btn-danger {
    background: #F2385A;
    color: #fff;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.btn-alt {
    background: #ffeb3b;
    color: #000;
}
.btn i {
    margin-right: 10px;
}
.btn-small {
    padding: 6px 11px;
    font-size: 13px;
}
.btn-danger:hover{
    background: #FF6D79;
    color: #fff;
}
.btn-danger:visited{
    color: #fff;
}
.btn-alt:visited{
    color: #000;
}
.btn-alt:hover{
    background: #FF6D79;
    color: #fff;
    opacity: 0.8;
}
.btn-clear {
    background: #b6b6b6;
    color: #fff;
}
.row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
/******************************************************************
                             HEADER
*******************************************************************/

.navbar-default {
    background: #f9fafb;
    border: none;
    padding: 0 !important;
}
.navbar-brand {
    height:auto;
    padding: 18px 15px;
    margin: 0 !important;
}
.logo {
    border-radius: 3px;
}
.navbar-nav {
    margin-top: 5px;
}
.navbar-nav > li {
    margin-left: 20px;
    margin-top: 0px;
    margin-right: 10px;

}
.navbar-nav > li > a {
    color: #333;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out ;
    -ms-transition: all 0.2s ease-in-out ;
    -o-transition: all 0.2s ease-in-out ;
    transition: all 0.2s ease-in-out ;
    padding-bottom: 22px;
}
.navbar-nav > li > a:hover {
    color:#F2385A !important;
}
/*.navbar-nav a.open-search {
    padding-left: 0px;
}
.navbar-nav a.open-search i {
    color: #F2385A;
    font-size: 20px;
    display: inline-block;
    margin-top: -5px;
}*/
.navbar-nav li.drop {
    position: relative;
}
.navbar-nav li ul.drop-down {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top:100%;
    left:0;
    width: 160px;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    text-align: left;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out ;
    -ms-transition: all 0.2s ease-in-out ;
    -o-transition: all 0.2s ease-in-out ;
    transition: all 0.2s ease-in-out ;
    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    -ms-transform-origin:0 0;
    -o-transform-origin:0 0;
    transform-origin:0 0;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
.navbar-nav li ul.drop-down li {
    list-style: none;
    display: block;
    margin: 0px;
}
.navbar-nav li ul.drop-down li ul.drop-down.level3{
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    top:0px;
    left:100%;
    border-bottom: none;
}
.navbar-nav li ul.drop-down li a {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out ;
    -ms-transition: all 0.2s ease-in-out ;
    -o-transition: all 0.2s ease-in-out ;
    transition: all 0.2s ease-in-out ;
    display: block;
    color: #fff;
    font-size: 12px;
    font-family: 'Raleway',sans-serif;
    padding: 16px 20px;
    text-transform: uppercase;
    font-weight: 700;
    background: #3a3d41;
    margin: 0;
    border:none;
}
.navbar-nav li ul.drop-down li a:hover {
    background:#F2385A;
    /*color: #0b0b0b;*/
}
.navbar-nav li ul.drop-down li:hover ul.drop-down.level3 {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.navbar-nav li ul.drop-down li:last-child{
    border-bottom: none;
}
.navbar-nav li:hover > ul.drop-down {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
header.one-page .navbar-nav >li {
    margin-left: 0;
}
header.one-page .navbar-nav >li > a span {
    color: #F2385A;
}

.navbar-nav > li > ul.drop-down > .form-login {
    width:300px;
    height:220px;
    right: 0px;
    padding: 10px 10px 10px 5px;
    visibility: visible;
    background-color: #3A3D41;
    margin-left:-100px;

}
.navbar-nav > li > ul.drop-down > .form-login >input[type ='text'],input[type='password'] {
    width: 270px;
    margin: 0px 10px 10px 10px;
    padding: 8px 8px 8px 20px;
    font: 14px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #727272;
    border: 0;
    background-color: #fff;
    border-radius: 2px;
}
.navbar-nav > li > ul.drop-down > .form-login .col-md-6 > input[type="checkbox"] {
    color: #fff;

}
.navbar-nav > li > ul.drop-down > .form-login .btn-login {
     margin-top: 5px;
     margin-bottom: 15px;
     color: #fff;

}
.social-login {
    padding: 0px 10px 0px 10px;
     margin-top: 0px !important;
    margin-right: 10px;
    margin-left: 20px;
}
.social-login a {
    padding: 5px;
    margin-left: 5px;
}
/******************************************************************
                             SLIDER
*******************************************************************/
#slider {
    width: 100% !important;
  /*  height: 50% !important;*/
    margin-top: -5px !important;
    overflow: hidden;
    z-index: 98;
    opacity: 0.3;
}
#slider.flexslider {
    margin: 0 !important;
    border: 0 !important;
}
#slider .col-md-12 {
    position: relative;
}
#slider .detail {
    position: absolute;
    bottom: 200px;
    left: 15px;
    z-index: 2;
}
#slider .detail .white {
    min-height: 240px;
    float: left;
    padding: 30px;
    background: #FFF;
    width: 315px;
    padding-bottom: 20px;
    border-radius: 2px;
    z-index: 3;
}
#slider .detail .white h2 {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 15px;
}
/******************************************************************
                            FILTER (SEARCH FORM)
*******************************************************************/

.box-filter{
    border-radius: 4px;
    /*  background: url(../img/filter-pattren.png);*/
  /*  background-color: #e0e0e0 ;*/
    background-size: cover;
    padding: 15px 40px 15px 40px;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 70px;
    margin-top: 20px !important;
    z-index: 99;
    position: relative;
}
.filter {
    border-radius: 4px;
  /*  background: url(../img/filter-pattren.png);*/
  /*  background-color: #e0e0e0 ;
    background-size: cover;*/
  /*  padding: 15px 40px 15px 40px;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 70px;
    margin-top: -450px !important;*/
    z-index: 99;
    position: relative;
}
.logo1 {
    margin: 10px 10px 10px 350px;
    border-radius: 3px;
    position: relative;
    z-index: 100;
    margin-top: -200px;
}
.filter .title-search {
    font : 24px 'Open Sans', Arial, Helvetica, sans-serif;
    padding: 5px;
    text-align: center;
    color: #4b4a4a;

}
.filter > select {
    outline: none;
    background: #fff;
    width: 250px !important;
    cursor: pointer;
    margin-left: 20px;
    padding:  15px 10px 15px 10px;
    font: 14px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #727272;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;


}
.filter > select.location {
    margin: 0;
}
.filter > input[type='text'] {
    outline: none;
    background: #fff;
    width: 430px !important;
    margin-left: 2px ;
    padding: 15px 10px 15px 10px;
    font: 14px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #727272;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
}
.filter .btn {
    text-transform: uppercase;
    margin-left: 2px;
    margin-bottom: 4px;
    background: #FFE91A;
    border-radius: 4px;
    color:#4b4a4a ;
    padding:  14px 10px 16px 10px;
    font-size: 14px;
    font-weight: 700;
}
.filter .btn:hover {
    background: rgb(255,230,55);
    color: #212121;

}
.filter .btn i {
    margin-right: 10px;
}
/******************************************************************
                             ITEM COLLECTION
*******************************************************************/

.title-section {
    padding: 13px 13px 13px 13px;
}
.title-section h3 {
    font-size: 24px;
    color: #33373D;
    text-transform: capitalize;
}
.title-section p {
    color: #727272;
    font-size: 14px;
}

.item {
    background: #fff;
    border-radius: 3px;
    margin-bottom: 30px;
}
.item .item-header {
    padding: 22px 20px;
}
.item .item-header h3{
    font-weight: 400;
    float: left;
    font-size: 14px;
    color: #727272;
    text-transform: uppercase;
}
.item .item-header span {
    font-size: 12px;
    text-transform: uppercase;
    color: #727272;
    display: inline-block;
}
.item .item-header span i {
    margin-right: 10px;
}
.item .item-header .favorite {
    float: right;
}
.item .item-header .favorite:hover {
    color: #F2385A;
}
.item figure {
    position: relative;
    overflow: hidden;
}
.item figure img {
    width: 360px;
    height: 178px;
    -webkit-transition: 0.5 ease-in;
    -moz-transition: 0.5 ease-in ;
    -ms-transition: 0.5 ease-in ;
    -o-transition: 0.5 ease-in ;
    transition: 0.5 ease-in ;
}
.item figure:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.item figure .label {
    position: absolute;
    top:20px;
    right:20px;
}
.item figure .overlay {
    opacity: 0;
    background: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 178px;
    position: absolute;
    top:0;
    left: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s ;
    -ms-transition: all .5s ;
    -o-transition: all .5s ;
    transition: all .5s ;
}
.item figure .overlay .btn-detail {
    background: #FFE91A;
    color: #212121;
}
.item figure:hover .overlay {
    opacity: 1;
}
.label {
    font-size: 10px;
    color: #fff;
    border-radius: 2px;
    padding: 8px 10px;
    text-transform: uppercase;
}
.label.restaurant{
    background: #4cae4c;
}
.label.cuisine {
    background: #2196f3;
}
.label.place {
    background: #d32f2f;
}
.item .item-detail {
    padding: 20px;
    overflow: hidden;
}
.item .item-detail p {
    font-size: 12px;
    color: #727272;
    text-transform: capitalize;

}
div.buttons {
    text-align: center;
    margin: 50px 0;
}
div.buttons a.button-third {
    margin: 0 8px;
}
a.button-third {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    padding: 10px 15px;
    color: #727272;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 3px 0 #e5e5e5;
    -webkit-box-shadow: 0 3px 0 #e5e5e5;
    -moz-box-shadow: 0 3px 0 #e5e5e5;
    -o-box-shadow: 0 3px 0 #e5e5e5;
    margin: 0;
}

a.button-third i {
    font-size: 12px;
}
a.button-third:hover {
    border: 1px solid #999999;
}

/******************************************************************
                             FACTS COUNTER
*******************************************************************/

.facts_wrap {
    padding: 40px 0 70px 0;
}
.facts_wrap ul li {
    text-align: center;
}
.facts_wrap ul li > div {
    border-left: 1px solid #e3e3e3;
}
.facts_wrap ul li:last-child > div {
    border-right: 1px solid #e3e3e3;
}
.facts_wrap ul li figure {
    padding: 0 23px 20px;
    border-bottom: 2px solid #d32f2f;
    display: inline-block;
    margin-bottom: 15px;
}
.facts_wrap ul li small {
    font-size: 15px;
    font-weight: 300;
    color: #727272;
    display: block;
    text-transform: uppercase;
}
.facts_wrap ul li span {
    font-size: 30px;
    font-weight: 700;
    color: #212121;
}

/******************************************************************
                            LOCATION
*******************************************************************/

.location {
    padding: 13px;
}
.location p {
    text-transform: capitalize;
    font-size: 14px;
    padding: 5px;
}

/******************************************************************
                            LANDMARK
*******************************************************************/
#owl-demo .item{
    background:#F7F7F7;
    padding: 10px 15px 10px 5px;
    margin: 2px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
#owl-demo .item img {
    width: 280px;
    height: 200px;
    padding: 5px 10px 5px 5px;
    margin-right: 5px;
}
#owl-demo .item .caption-landmark a{
    font-size: 14px;
    text-transform: capitalize;
}
/******************************************************************
                            REVIEW
*******************************************************************/
.top ul {
    padding: 20px;
    height: 770px;
}
.top ul > li {
    padding-bottom: 20px;
}

.top ul > li > img {
    float: left;
}
.top ul > li .about {
    float: left;
    margin-top: 8px;
    padding-left: 8px;
}
.top ul > li .status {
    color: gray;
}